{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="my-5">Modifier le projet</h1>
            {{ form(form) }}
        </div>
    </section>
{% endblock %}